<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>App</title>
</head>

<body>
  <div id="app">
    <div class="w-full mx-auto h-screen flex justify-center items-center">
      <template v-if="currentStep === 0">
        <form class="flex flex-col justify-center gap-4 max-w-sm w-full p-4" @submit.prevent="onSubmit">
          <label for="password" class="block text-xl font-medium text-center">Nhập password vào nha ❤️</label>
          <input type="password" id="password" v-model="password" autofocus
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required />
          <button type="submit"
          class="text-xl text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5">Vào
          thôi !!!</button 
        </form>
      </template>
      <template v-else-if="currentStep === 1">
        <div class="flex flex-col gap-4">
          <span class="text-xl font-medium text-center">Em click vào thiệp nhé 😍</span>
          <img class="object-cover h-auto max-w-xs border" src="images/envelope.png" @click="onClickEnvelope">
        </div>
      </template>
      <template v-else-if="currentStep === 2">
        <div class="flex flex-col gap-4">
          <span class="text-3xl font-medium text-center">ANH YÊU EM 😘 MUAHH!</span>
          <iframe src="https://giphy.com/embed/3oz8xsaLjLVqVXr3tS" width="480" height="269" frameBorder="0" allowFullScreen></iframe></p>
        </div>
      </template>
    </div>
  </div>
</body>
</html>

<style>
    
</style>

<script>
  const { createApp, ref, onMounted } = Vue

  createApp({
    setup() {
      const password = ref('')
      const currentStep = ref(0)

      const onSubmit = () => {
        if (password.value === 'camnguyenxinhdep') {
          currentStep.value = 1
        }
      }

      const onClickEnvelope = () => {
        currentStep.value = 2
      }

      return {
        password,
        currentStep,
        onSubmit,
        onClickEnvelope
      }
    }
  }).mount('#app')
</script>